<!-- Include Date Range Picker -->
<link rel="stylesheet" type="text/css" href="views/templates/bootstrap-daterangepicker/daterangepicker.css" />

<div id="content">
	<div class="col-md-12 padding-0">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 class="animated fadeInLeft">Collector activity</h3>
					<p class="animated fadeInDown" style="line-height: .4;">Summary report</p>
				</div>
			</div>
				<div class="col-md-12">
					<div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
						<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
						<span></span> <b class="caret"></b>
					</div>
					<button class="btn btn-outline-success btn-sm" ladda="resetLoading" ng-click="filterActivity()" data-style="expand-right">Go</button>
									
						<input type="hidden" id="startdate" ng-model="dataIn.startdate">
						<input type="hidden" id="enddate" ng-model="dataIn.enddate">
				</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-12 padding-0" style="min-height: 600px; max-height: 700px; overflow-y: scroll;">
			<div class="row">
			  <div class="col-md-12">
			  	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="activitySpinner"></span>
			  	<div id="activitycontainer">Activity summary loading ...</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-6">
			  <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="productsSpinner"></span>
			  	<div id="productscontainer">Product activity loading ...</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-6">
			  <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="topcollectorSpinner"></span>
			  	<div id="topcollectorcontainer">Top collector loading ...</div>
			  </div>
			</div>
		</div>
	</div>
</div>

	<script type="text/javascript" src="views/templates/bootstrap-daterangepicker/moment.min.js"></script>
	<!-- Include Date Range Picker -->
	<script type="text/javascript" src="views/templates/bootstrap-daterangepicker/daterangepicker.js"></script>

<script type="text/javascript">
	$(function() {

		    var start = moment().subtract(1, 'days');
		    var end = moment();
		
		    function cb(start, end) {
		        $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
		        //console.log("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
		        document.getElementById("startdate").value=start.format('YYYY-MM-DD');
		        document.getElementById("enddate").value=end.format('YYYY-MM-DD');
		    }
		
		    $('#reportrange').daterangepicker({
		        startDate: start,
		        endDate: end,
		        ranges: {
		           'Today': [moment(), moment()],
		           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
		           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
		           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
		           'This Month': [moment().startOf('month'), moment().endOf('month')],
		           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
		        }
		    }, cb);
		    cb(start, end);
		});
</script>

