<!-- Include Date Range Picker -->
<link rel="stylesheet" type="text/css" href="views/templates/bootstrap-daterangepicker/daterangepicker.css" />


<div id="content">
	<div class="col-md-12 padding-0">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 class="animated fadeInLeft">Summary report</h3>
					<p class="animated fadeInDown" style="line-height: .4;">Amount collected</p>
				</div>
				<div class="col-md-12">
					<form class="cmxform" name="filterDashForm" ng-submit="filterDash()">
						<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showfilterSpinner"></span>
						<div class="col-md-2">
								<div class="form-group form-animate-text" style="margin-top:40px !important;">
					              <select class="form-text android" ng-model="dataIn.region" id="region" name="region" ng-change="getBranches(dataIn.region)" required>
											<option>CENTRAL</option>
											<option>CO-OP HSE & MALL BRS</option>
											<option>COAST</option>
											<option>NAIROBI EAST</option>
											<option>NAIROBI WEST</option>
											<option>P/ROAD & MALL BRS</option>
											<option>RIFT VALLEY</option>
											<option>WESTERN</option>
											<option>HEAD OFFICE</option>
								  </select>
					              <div>Region</div>
	                            </div>
						</div>
						<div class="col-md-2">
								<div class="form-group form-animate-text" style="margin-top:40px !important;">
					              <select class="form-text android" ng-model="dataIn.branchcode" id="branchcode" name="branchcode" required>
										<option ng-repeat="br in branches" value="{{br.BRANCHCODE}}">{{br.BRANCHNAME}}</option>
								  </select>
					              <div>Branch</div>
	                            </div>
						</div>
						<div class="col-md-2">
							   <!--<div class="form-group form-animate-text" style="margin-top:40px !important;">
	                              <input type="text" class="form-text dateAnimate2" id="datestart" name="datestart" ng-model="dataIn.datestart" required>
	                              <span class="bar"></span>
	                              <div>
								      <span class="fa fa-calendar"></span> Start date
								  </div>
	                            </div>-->
	                            
	                            <div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
									<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
									<span></span> <b class="caret"></b>
								</div>
								
								<input type="hidden" id="datestart">
								<input type="hidden" id="dateend">
						
						</div>
						<!-- <div class="col-md-2">
							 <div class="form-group form-animate-text" style="margin-top:40px !important;">
	                              <input type="text" class="form-text dateAnimate" id="dateend" name="dateend" ng-model="dataIn.dateend" required>
	                              <span class="bar"></span>
	                              <div>
								      <span class="fa fa-calendar"></span> End date
								  </div>
	                            </div>
						</div>-->
						<div class="col-md-2">
						   <div class="btn-group" role="group" aria-label="First group">
							   <button class="btn btn-outline-primary btn-sm" ladda="Loading" ng-click="Submit()" data-style="expand-right">Filter</button>
						   </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-12 padding-0" style="min-height: 600px; max-height: 700px; overflow-y: scroll;">
			<!--  <iframe frameborder=0 width="100%" height="700" src="https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=1224990000000039242&STANDALONE
			=true&privatelink=1b3797f58e74c721abaa85ebc5939fa8&INTERVAL=-1&REMTOOLBAR=false&INCLUDETITLE=true&INCLUDEDESC=true"></iframe>--->
			
			<div class="row">
			  <div class="col-md-12">
			  	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showchartSpinner"></span>
			  	<div id="chartcontainer"></div>
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-md-12">
			  	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="show_chartSpinner"></span>
			  	<div id="linecontainer"></div>
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-md-6">
			  	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="productSpinner"></span>
			  	<div id="productcontainer">Product summary loading ...</div>
			  </div>
			  <div class="col-md-6">
			  	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="topcollectorSpinner"></span>
			  	<div id="topcollectorcontainer">Top collector loading ...</div>
			  </div>
			</div>
			
		</div>
	</div>
</div>


	<script src="asset/js/plugins/bootstrap-material-datetimepicker.js"></script>      
 	<script type="text/javascript" src="views/templates/bootstrap-daterangepicker/moment.min.js"></script>
	<!-- Include Date Range Picker -->
	<script type="text/javascript" src="views/templates/bootstrap-daterangepicker/daterangepicker.js"></script>

<script type="text/javascript">
	$(function() {

		    var start = moment().subtract(1, 'days');
		    var end = moment();
		
		    function cb(start, end) {
		        $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
		        document.getElementById("datestart").value=start.format('YYYY-MM-DD');
		        document.getElementById("dateend").value=end.format('YYYY-MM-DD');
		    }
		
		    $('#reportrange').daterangepicker({
		        startDate: start,
		        endDate: end,
		        ranges: {
		           'Today': [moment(), moment()],
		           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
		           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
		           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
		           'This Month': [moment().startOf('month'), moment().endOf('month')],
		           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
		        }
		    }, cb);
		    cb(start, end);
		});
</script>

