		
<style>
	.grid {
	  height: 800px;
	}
	.blue { color: blue; }
	.red { color: red; }
	.grey { color: #2ECC71; }
	.black { color: black; }
</style>

<div id="content">
		<div class="col-md-12 padding-0">
				<div class="panel box-shadow-none content-header">
					<div class="panel-body">
						<div class="col-md-3">
							<h3 class="animated fadeInLeft">Cleared accounts</h3>
							<p class="animated fadeInDown" style="line-height: .4;">all search</p>
						</div>
					</div>
				</div>
		</div>
	<div class="col-md-12 padding-0">
		<div id="grid1" ui-grid="gridOptions" ui-grid-save-state ui-grid-exporter ui-grid-move-columns ui-grid-resize-columns class="grid"></div>
	</div>
</div>


	<!-- start: Javascript -->
<script src="asset/js/jquery.min.js"></script>
<script src="asset/js/jquery.ui.min.js"></script>