
<div id="content">
	        <div class="col-md-12 padding-0">
				<div class="col-md-12 padding-0">
					<div class="col-md-12 padding-0">
						<div class="panel box-shadow-none content-header">
							<div class="panel-body">
								<div class="col-md-12">
									<h3 class="animated fadeInLeft">New Invoice</h3>
									<p class="animated fadeInDown" style="line-height: .4;">add new invoice</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="min-height: 700; max-height: 800px; overflow-y: scroll;">
						<form class="cmxform" name="newinvoiceForm" ng-submit="addinvoicefunc()">
	                		<div class="col-md-4">
	                			<div class="form-group form-animate-text" style="margin-top:30px !important;">
	                              <input type="text" class="form-text" id="custnumber" name="custnumber" ng-model="dataIn.custnumber" ng-blur="lookupdetails(dataIn.custnumber)" required>
	                              <span class="bar"></span>
	                              <div>
								      Enter customer number<span ng-if="newinvoiceForm.custnumber.$error.required" class="error">*</span>
								  </div>
	                            </div>
	                            
	                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
	                              <select id="accnumber" name ="accnumber" class="form-text android" ng-model="dataIn.accnumber" required>
										<option ng-repeat="acc in custaccounts">{{acc.ACCNUMBER}}</option>
								  </select>
	                              <span class="bar"></span>
	                              <div>
								      Enter account number<span ng-if="newinvoiceForm.accnumber.$error.required" class="error">*</span>
								  </div>
	                            </div>
	                            
	                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
	                              <input type="text" class="form-text" id="custname" name="custname" ng-model="dataIn.custname" required>
	                              <span class="bar"></span>
	                              <div>
								      Name of customer<span ng-if="newinvoiceForm.custname.$error.required" class="error">*</span>
								  </div>
	                            </div>
	                            
	                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
								    <select id="paymentmethod" name ="paymentmethod" class="form-text android" ng-model="dataIn.paymentmethod" required>
										<option>BANK TRANSFER</option>
										<option>CHEQUE</option>
									</select>
									<div>
		                              	Payment method<span ng-if="newinvoiceForm.paymentmethod.$error.required" class="error">*</span>
		                            </div>
	                            </div>
	                        </div>
							<div class="col-md-4">
	                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
								    <select id="sptitle" name ="sptitle" class="form-text android" ng-model="dataIn.sptitle" required ng-change="lookspaccount(dataIn.sptitle)">
										<option ng-repeat="s in allsptitle">{{s.SPTITLE}}</option>
									</select>
									<div>
		                              	Service provider<span ng-if="newinvoiceForm.sptitle.$error.required" class="error">*
									  </span>
		                             </div>
	                            </div>
	                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
	                              <input type="text" class="form-text" id="spaccount" name="spaccount" ng-model="dataIn.spaccount" required>
	                              <span class="bar"></span>
	                              <div>
	                              	Service provider account<span ng-if="newinvoiceForm.spaccount.$error.required" class="error">*</span>
	                              </div>
	                            </div>
	                           
	                            <!--
	                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
					              <input type="text" class="form-text mask-money" id="feenoteamnt" name="feenoteamnt" ng-model="dataIn.feenoteamnt">
								  <div>
								      Fee note amount <span ng-if="newinvoiceForm.feenoteamnt.$error.required" class="error">*</span>
								  </div>
	                            </div>-->

	                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
	                              <input type="text" class="form-text mask-money" id="approvedamnt" name="approvedamnt" ng-model="dataIn.approvedamnt" required>
	                              <span class="bar"></span>
	                              <div>
	                              	<span class="fa fa-money"></span> Amount approved<span ng-if="newinvoiceForm.approvedamnt.$error.required" class="error">*
								  </span>
	                              </div>
	                            </div>
	                            
	                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
					              <input type="text" class="form-text" id="arocode" name="arocode" ng-model="dataIn.arocode" required>
								  <div>
								      ARO Code <span ng-if="newinvoiceForm.arocode.$error.required" class="error">*</span>
								  </div>
	                            </div>

	                        </div>
	                        <div class="col-md-4">     
	                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
	                              <input type="text" class="form-text dateAnimate" id="feenotedate" name="feenotedate" ng-model="dataIn.feenotedate" required>
	                              <span class="bar"></span>
	                              <div>
	                              	<span class="fa fa-calendar"></span> Fee note date <span ng-if="newinvoiceForm.feenotedate.$error.required" class="error">*</span>
	                              </div>
	                            </div>
	                            
	                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
	                              <input type="text" class="form-text" id="dateinput" name="dateinput" ng-model="dataIn.dateinput" readonly="readonly">
	                              <span class="bar"></span>
	                              <div>
	                              	<span class="fa fa-calendar"></span> Date of input<span ng-if="newinvoiceForm.dateinput.$error.required" class="error">*</span>
	                              </div>
	                            </div>
	                            
	                            
	                            
							</div>
	                		<div class="col-md-12">
	                              <button class="btn btn-primary" ladda="Loading" ng-click="Submit()" data-style="expand-right">Submit</button>
	                              <a class="btn btn-danger btn-flat" href="#/invoices"><i class="fa fa-chevron-left"></i> Cancel</a>
	                        </div>
	                	</form>
					</div>
				</div>
			</div>
        </div>
 
 <script src="asset/js/plugins/bootstrap-material-datetimepicker.js"></script> 
 <script src="views/templates/plugins/jquery.mask.min.js"></script>

 <script type="text/javascript">
  $(document).ready(function(){
  	$('.dateAnimate').bootstrapMaterialDatePicker({ weekStart : 0, time: false,animation:true, maxDate : new Date(),format : 'DD-MMM-YYYY'});
  	$('.dateAnimate2').bootstrapMaterialDatePicker({ weekStart : 0, time: false,animation:true, minDate : new Date(),format : 'DD-MMM-YYYY'});
  	$('.mask-money').mask("###0", {reverse: true});
  })
 </script>