<div class="row" id="otheraccid">
	<div class="col-lg-12">
		<table class="table table-striped header-fixed">
			<thead>
				<tr>
					<th>Account#</th>
					<th>Customer Number</th>
					<th>Balance</th>
					<th>Product Code</th>
					<th>ARO Code</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="d in otheraccsData">
					<td>{{d.ACCNUMBER}}</td>
					<td>{{d.CUSTNUMBER}}</td>
					<td>{{d.OUSTBALANCE | number:0}}</td>
					<td>{{d.PRODUCTCODE}}</td>
					<td>{{d.AROCODE}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>