<!-- jqx-on-rowselect="acinfo()" -->

<div class="row">
    <div class="col-lg-12">
        	<p ng-show="swith"><i class="fa fa-refresh fa-2x fa-spin"></i>&nbsp; Data Loading ...</p>
        <div id='jqxgrid'></div>
			<div id="jqxwindow">
	            <div>
	                Find Record</div>
	            <div style="overflow: hidden;">
	                <div>
	                    Find what:</div>
	                <div style='margin-top:5px;'>
	                    <input id='inputField' type="text" class="jqx-input" style="width: 200px; height: 23px;" />
	                </div>
	                <div style="margin-top: 7px; clear: both;">
	                    Look in:</div>
	                <div style='margin-top:5px;'>
	                    <div id='dropdownlist'>
	                    </div>
	                </div>
	                <div>
	                    <input type="button" style='margin-top: 15px; margin-left: 50px; float: left;' value="Find" id="findButton" />
	                    <input type="button" style='margin-left: 5px; margin-top: 15px; float: left;' value="Clear" id="clearButton" />
	                </div>
	            </div>
	        </div>
    </div>
</div>

