<div class="row" id="ptps">
	<div class="col-lg-12">
		<table class="table table-striped header-fixed">
			<thead>
				<tr>
					<th>Account#</th>
					<th>Promise Amount</th>
					<th>Promise Date</th>
					<th>Met?</th>
					<th>Colofficer</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="d in promiseData">
					<td>{{d.ACCNUMBER}}</td>
					<td>{{d.PTPAMOUNT}}</td>
					<td>{{d.PTPDATE}}</td>
					<td>{{d.MET}}</td>
					<td>{{d.OWNER}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>