<div id="content">
		<div class="col-md-12 padding-0">
			<div class="col-md-12 padding-0">
				<div class="panel box-shadow-none content-header">
					<div class="panel-body">
						<div class="col-md-12">
							<h3 class="animated fadeInLeft">Service Providers</h3>
							<p class="animated fadeInDown" style="line-height: .4;">** ** **</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				Details coming soon ...
			</div>
		</div>
</div>
<script src="views/templates/plugins/jquery.mask.min.js"></script>
 <script type="text/javascript">
	$(document).ready(function() {

		$('.mask-money').mask("###0", {reverse: true});
		
	})
</script>   