<div id="content">
	<div class="col-md-12 padding-0">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 class="animated fadeInLeft">SP Dashboard</h3>
					<p class="animated fadeInDown" style="line-height: .4;">Service provider dashboard</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 padding-0" style="min-height: 600px; max-height: 800px; overflow-y: scroll;">
		<!--<iframe frameborder=0 width="100%" height="700"
			src="https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=1224990000000056123&STANDALONE=true&privatelink=d3de7cb5de726df9a0e2bca09ab692cf&INTERVAL
			=-1&REMTOOLBAR=true&INCLUDETITLE=true&INCLUDEDESC=true"></iframe>-->
			
			<div class="row">
			  <div class="col-md-6">
			  	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="marketorsSpinner"></span>
			  	<div id="marketorscontainer"></div>
			  </div>
			  <div class="col-md-6">
			  	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="investigatorsSpinner"></span>
			  	<div id="investigatorscontainer"></div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-6">
			  	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="repossessorsSpinner"></span>
			  	<div id="repossessorscontainer"></div>
			  </div>
			  <div class="col-md-6">
			  	<span us-spinner="{radius:30, width:8, length: 16, color:'blue'}" spinner-on="debtcollectorsSpinner"></span>
			  	<div id="debtcollectorscontainer"></div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-6">
			  	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="auctioneersSpinner"></span>
			  	<div id="auctioneerscontainer"></div>
			  </div>
			  <div class="col-md-6">
			  	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="valuersSpinner"></span>
			  	<div id="valuerscontainer"></div>
			  </div>
			</div>
	</div>
</div>

