
<div id="content">
	        <div class="col-md-12 padding-0">
				<div class="col-md-12 padding-0">
					<div class="col-md-12 padding-0">
						<div class="panel box-shadow-none content-header">
							<div class="panel-body">
								<div class="col-md-12">
									<h3 class="animated fadeInLeft">Marketors</h3>
									<p class="animated fadeInDown" style="line-height: .4;">Marketors status update</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<form class="cmxform" name="newstatusForm" ng-submit="statusfunc()">
							<input type="hidden" class="form-text" id="cust" name="cust" ng-model="newstatus.cust">
                                      <div class="col-md-6">
	                                      <div class="form-group form-animate-text" style="margin-top:40px !important;">
						                              <input type="text" class="form-text" id="statusid" name="statusid" ng-model="newstatus.statusid" readonly="readonly">
						                              <span class="bar"></span>
						                            </div>
						                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
						                              <input type="text" class="form-text" id="statuspname" name="statuspname" ng-model="newstatus.statuspname" readonly="readonly">
						                              <span class="bar"></span>
						                            </div>

						                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
						                              <input type="text" class="form-text dateAnimate" id="offerdate" name="offerdate" ng-model="newstatus.offerdate">
						                              <span class="bar"></span>
						                              <div>Offer date</div>
						                            </div>
						                            
						                            <!--<div class="form-group form-animate-text" style="margin-top:40px !important;">
						                              <input type="text" class="form-text" id="remarks" name="remarks" ng-model="newstatus.remarks">
						                              <span class="bar"></span>
						                              <div>Remarks</div>
						                            </div>-->
						                         </div>
						                         <div class="col-md-6">
						                            
						                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
						                              <input type="text" class="form-text" id="offeramount" name="offeramount" ng-model="newstatus.offeramount" ng-blur="check()">
						                              <span class="bar"></span>
						                              <div>offer amount</div>
						                            </div>
						                            
						                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
						                            	<input type="text" class="form-text" id="auctionstatus" name="auctionstatus" ng-model="newstatus.auctionstatus" readonly="readonly">
						                              <!--<select class="form-text android" ng-model="newstatus.auctionstatus" id="auctionstatus" name="auctionstatus" required>
																<option>ASSIGNED</option> 
																<option>NO OFFERS</option> 
																<option>LOW OFFER</option>
																<option>PRIVATE SALE</option>
																<option>CONTENTIOUS</option>
																<option>RESTRUCTURED</option>
																<option>LOAN FULLY PAID</option>
																<option>READY</option>
													  </select>-->
						                              <span class="bar"></span>
						                              <div>auction status</div>
						                            </div>
						                            
                                            	</div> 
                                            	<div class="col-md-12">
                                            		<a class="btn btn-danger btn-flat" href="#/marketors"><i class="fa fa-chevron-left"></i> Cancel</a>
						                              <button class="btn btn-primary" ladda="Loading" ng-click="Submit()" data-style="expand-right">Submit</button>
						                        </div>
                                            </form>
					</div>
				</div>
			</div>
        </div>
 
 <script src="asset/js/plugins/bootstrap-material-datetimepicker.js"></script> 
 <script src="views/templates/plugins/jquery.mask.min.js"></script>

 <script type="text/javascript">
  $(document).ready(function(){
  	$('.dateAnimate').bootstrapMaterialDatePicker({ weekStart : 0, time: false,animation:true, maxDate : new Date(),format : 'DD-MMM-YYYY'});
  	$('.dateAnimate2').bootstrapMaterialDatePicker({ weekStart : 0, time: false,animation:true, minDate : new Date(),format : 'DD-MMM-YYYY'});
  	$('.mask-money').mask("###0", {reverse: true});
  })
 </script>