
	<div id="content">
	        <div class="col-md-12 padding-0">
				<div class="col-md-12 padding-0">
					<div class="col-md-12 padding-0">
						<div class="panel box-shadow-none content-header">
							<div class="panel-body">
								<div class="col-md-6">
									<h3 class="animated fadeInLeft">Valuers</h3>
									<p class="animated fadeInDown" style="line-height: .4;">Showing accounts for valuation</p>
								</div>
								<div class="col-md-6">
									<div class="btn-group">
									  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    {{valuersfilter}} <i class="fa fa-reorder"></i> <span class="caret"></span>
									  </button>
									  <ul class="dropdown-menu">
									    <li><a ng-click="$event.preventDefault();valuersclick('ALL')" href="#">ALL</a></li>
									    <li><a ng-click="$event.preventDefault();valuersclick('unassigned')" href="#">Not assigned</a></li>
									    <li><a ng-click="$event.preventDefault();valuersclick('Deleted')" href="#">Cancelled</a></li>
									    <li><a ng-click="$event.preventDefault();valuersclick('assigned')" href="#">Assigned</a></li>
									    <li><a ng-click="$event.preventDefault();valuersclick('expired')" href="#">Expired</a></li>
									  </ul>	  
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<a class="btn-link" href="#newvaluer"><i class="fa fa-file-text-o"></i> New</a>
						</div>
					</div>
					<div class="col-md-12">
						<!--<table 	id="table"
								data-toggle="table" 
								data-classes="table table-hover table-condensed"
					       		data-striped="true"
					       		data-show-columns="true"
					       		data-card-view="false"
					       		data-show-refresh="true"
					       		data-search="true"
					       		data-pagination="true"
       							data-sort-order="desc"
       							data-click-to-select="true"
       							data-toolbar="#toolbar"
       							data-show-export="true"
								data-url="http://172.16.204.59/ecollect2/api/status/valuers">
						    <thead>
						        <tr>
						            <th data-field="ID" data-sortable="false" data-visible="true" data-formatter="assignFormatter1"></th>
									<th data-field="UNIQ" data-sortable="false" data-visible="true" data-formatter="assignFormatter2"></th>
						            <th data-field="CUSTNUMBER" data-sortable="true" data-visible="true">CUSTNUMBER</th>
						            <th data-field="CUSTNAME" data-sortable="true">CUSTNAME</th>
						            <th data-field="PROPERTYNO" data-sortable="true">PROPERTYNO</th>
						            <th data-field="OWNERSHIP" data-sortable="true">OWNERSHIP</th>
						            <th data-field="SERVICEPROVIDER" data-sortable="true">SERVICEPROVIDER</th>
						            <th data-field="OPENMARKETVALUE" data-sortable="true">OPENMARKETVALUE</th>
						            <th data-field="INSURABLEAMOUNT" data-sortable="true">INSURABLEAMOUNT</th>
						            <th data-field="FORCEDSALEVALUE" data-sortable="true">FORCEDSALEVALUE</th>
						            <th data-field="YARD" data-sortable="true">YARD</th>
						            <th data-field="SERVICEPROVIDER" data-sortable="true">STATUS</th>
						            <th data-field="OWNER" data-sortable="true">OWNER</th>
						        </tr>
						    </thead>
						</table>-->
						<table id="table" 
								data-classes="table table-hover table-condensed"
					       		data-striped="true"
					       		data-show-columns="true"
					       		data-show-refresh="true"
					       		data-search="true"
								data-page-list="[5, 10, 20, 50, 100, 200]"
					       		data-pagination="true"
					       		data-height="700"
       							data-click-to-select="true"
       							data-toolbar="#toolbar"
       							data-show-export="true"
				            >
				        </table>

						<!--<script>
							function assignFormatter(value) {
								//return '<a href="#/assignauctioneers/'+value+'">ASSIGN</a>';
								return '<select onChange="window.location.href=this.value"><option value="">Update</option><option value="#/assignvaluer/'+value+'">Assign</option><option value="#/updatevaluers/'+value+'">Status Update</option></select>';
							}

							function assignFormatter1(value) {
								return '<a href="#/assignvaluer/'+value+'">assign</a>';
							}

							function assignFormatter2(value) {
								return '<a href="#/updatevaluers/'+value+'">update</a>';
							}

						</script>-->

						<div id="toolbar">
				            <select class="form-control">
				                <option value="">Export Basic</option>
				                <option value="all">Export All</option>
				                <option value="selected">Export Selected</option>
				            </select>
				        </div>
					</div>
					<!--  <div class="col-md-6">
						<div class="col-md-12 tabs-area">
		                    <ul id="tabs-demo6" class="nav nav-tabs nav-tabs-v6" role="tablist">
		                      <li role="presentation" class="active">
		                        <a href="#tabs-demo7-area1" id="tabs-demo6-1" role="tab" data-toggle="tab" aria-expanded="true">work assignment <span class="badge badge-success">{{total}}</span></a>
		                      </li>
		                      <li role="presentation">
		                        <a href="#tabs-demo7-area3" id="tabs-demo6-3" role="tab" data-toggle="tab" aria-expanded="false">Work distribution</a>
		                      </li>
		                    </ul>
		                    <div id="tabsDemo6Content" class="tab-content tab-content-v6 col-md-12">
		                      <div role="tabpanel" class="tab-pane fade active in" id="tabs-demo7-area1" aria-labelledby="tabs-demo7-area1">
		                        <a ng-show="showassign" class="btn-link" href="" data-toggle="modal" data-target="#myModal"><i class="fa fa-file-text"></i> assign</a>
		                        <input class="form-control border-bottom" type="text" ng-model="n_query" placeholder="search.."/>
		                        <div style="min-height: 300px; max-height: 300px; overflow-y: scroll;">
		                        	<div class="media" ng-repeat="i in instructions">
		                                
		                                <div class="media-body">
		                                  <h4 class="media-heading">{{i.SERVICEPROVIDER}}</h4>
		                                   <p><strong>Date issued :</strong> {{i.DATEINST}}</p>
		                                   <p><strong>Status :</strong> {{i.STATUS}}</p>
		                                   <p><strong>Original due Date :</strong> {{i.DUEDATE}}</p>
		                                   <p><strong>Extended due date :</strong> {{i.EXTDUEDATE}}</p>
		                                   <p><strong>Fee note :</strong> {{i.FEENOTE}}</p>
		                                   <a class="extendopenDialog" href="" data-toggle="modal" data-target="#myextend" data-spname="{{i.SERVICEPROVIDER}}" data-extendid="{{i.ID}}"> Extend</a> 
		                                   | <a class="statusopenDialog" href="" data-toggle="modal" data-target="#mystatus" data-spname="{{i.SERVICEPROVIDER}}" data-statusid="{{i.ID}}">Status</a> 
		                                   | <a class="openDialog" href="" data-toggle="modal" data-target="#myfeenote" data-spname="{{i.SERVICEPROVIDER}}" data-feenoteid="{{i.ID}}">Fee note</a> 
		                                </div>
		                              </div>
		                        
		                        </div>
		                        
		                      </div>
		                      <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area3" aria-labelledby="tabs-demo7-area3">
		                        <fusioncharts 
								    width="600" 
								    height="400"
								    type="column2d"
								    datasource="{{myDataSource}}"
								></fusioncharts>
		                      </div>
		                    </div>
		                  </div>
					</div>-->
				</div>
			</div>
        </div>
        
        <!-- modals -->
							
							<div id="myfeenote" class="modal fade" role="dialog">
								  <div class="modal-dialog">
								    <!-- Modal content-->
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
								      </div>
      									<div class="modal-body">
        									<form class="cmxform" name="newfeenoteForm" ng-submit="feefunc()">
                                            	<div class="col-md-12">
	                                            	<div class="form-group form-animate-text" style="margin-top:40px !important;">
						                              <input type="text" class="form-text" id="feenoteid" name="feenoteid" ng-model="newfeenote.feenoteid" readonly="readonly">
						                              <span class="bar"></span>
						                            </div>
						                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
						                              <input type="text" class="form-text" id="spname" name="spname" ng-model="newfeenote.spname" readonly="readonly">
						                              <span class="bar"></span>
						                            </div>
						                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
						                              <input type="text" class="form-text dateAnimate" id="datefeenote" name="datefeenote" ng-model="newfeenote.datefeenote" required>
						                              <span class="bar"></span>
						                              <div>
													      <span class="fa fa-calendar"></span> Fee note date<span ng-if="newfeenoteForm.datefeenote.$error.required" class="error">*</span>
													  </div>
						                            </div>
						                            
						                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
						                              <input type="text" class="form-text" id="feenote" name="feenote" ng-model="newfeenote.feenote" required>
						                              <span class="bar"></span>
						                              <div>
													      Fee note amount<span ng-if="newfeenoteForm.feenote.$error.required" class="error">*</span>
													  </div>
						                            </div>
                                            	</div> 
                                            	<div class="col-md-12">
						                              <button class="btn btn-primary" ladda="Loading" ng-click="Submit()" data-style="expand-right">Submit</button>
						                        </div>
                                            </form>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								      </div>
								    </div>
							  </div>
							</div>
							
							<div id="myextend" class="modal fade" role="dialog">
								  <div class="modal-dialog">
								    <!-- Modal content-->
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
								      </div>
      									<div class="modal-body">
        									<form class="cmxform" name="newextendForm" ng-submit="extendfunc()">
                                            	<div class="col-md-12">
	                                            	<div class="form-group form-animate-text" style="margin-top:40px !important;">
						                              <input type="text" class="form-text" id="extendid" name="extendid" ng-model="extend.extendid" readonly="readonly">
						                              <span class="bar"></span>
						                            </div>
						                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
						                              <input type="text" class="form-text" id="extendspname" name="extendspname" ng-model="extend.extendspname" readonly="readonly">
						                              <span class="bar"></span>
						                            </div>
						                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
						                              <input type="text" class="form-text dateAnimate" id="extdate" name="extdate" ng-model="extend.extdate" required>
						                              <span class="bar"></span>
						                              <div>
													      <span class="fa fa-calendar"></span> Date Extended<span ng-if="newextendForm.extdate.$error.required" class="error">*</span>
													  </div>
						                            </div>
						                            
						                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
						                              <input type="text" class="form-text dateAnimate2" id="extduedate" name="extduedate" ng-model="extend.extduedate" required>
						                              <span class="bar"></span>
						                              <div>
													      <span class="fa fa-calendar"></span> Extension due date<span ng-if="newextendForm.extduedate.$error.required" class="error">*</span>
													  </div>
						                            </div>
                                            	</div> 
                                            	<div class="col-md-12">
						                              <button class="btn btn-primary" ladda="Loading" ng-click="Submit()" data-style="expand-right">Submit</button>
						                        </div>
                                            </form>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								      </div>
								    </div>
							  </div>
							</div>
        

<script type="text/javascript" src="bower_components/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="asset/js/plugins/bootstrap-material-datetimepicker.js"></script>
<script src="bower_components/bootstrap-table/dist/bootstrap-table-export.js"></script>
<script src="bower_components/bootstrap-table/dist/tableExport/tableExport.js"></script>


<script type="text/javascript">
  $(document).ready(function(){

    $(".nav-tabs a").click(function (e) {
      e.preventDefault();  
      $(this).tab('show');
    });

  });
</script>
       
 <script type="text/javascript">
  $(document).ready(function(){
  	$('.dateAnimate').bootstrapMaterialDatePicker({ weekStart : 0, time: false,animation:true, maxDate : new Date(),format : 'DD-MMM-YYYY'});
  	$('.dateAnimate2').bootstrapMaterialDatePicker({ weekStart : 0, time: false,animation:true, minDate : new Date(),maxDate : moment().add(30, 'days'),format : 'DD-MMM-YYYY'});
  	
  	 $(document).on("click", ".openDialog", function () {
	     var spname = $(this).data('spname');
	     var feenoteid = $(this).data('feenoteid');
	     $(".modal-body #spname").val( spname );
	     $(".modal-body #feenoteid").val( feenoteid );
	});
	$(document).on("click", ".statusopenDialog", function () {
	     var statuspname = $(this).data('spname');
	     var statusid = $(this).data('statusid');
	     $(".modal-body #statuspname").val( statuspname );
	     $(".modal-body #statusid").val( statusid );
	});
	$(document).on("click", ".extendopenDialog", function () {
	     var extendspname = $(this).data('spname');
	     var extendid = $(this).data('extendid');
	     $(".modal-body #extendspname").val( extendspname );
	     $(".modal-body #extendid").val( extendid );
	});
  })
 </script>
  <script>
    var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val()
            });
        });
    })
</script>
