
<div id="content">
			<div class="col-md-12 padding-0">
				<div class="panel box-shadow-none content-header">
					<div class="panel-body">
						<div class="col-md-2">
							<h3 class="animated fadeInLeft">Mco-op Cash</h3>
							<p class="animated fadeInDown" style="line-height: .4;">View All</p>
						</div>
					</div>
				</div>
			</div>

	<div class="col-md-12 padding-0">
		<table id="table" 
            data-height="500" 
            data-side-pagination="server" 
            data-pagination="true" 
            data-show-export="true"
            data-search="true" >
        </table>
	</div>

</div>

<!-- Global valiable -->
<script src="asset/js/global.js"></script>

<!-- start: Javascript -->
<script src="asset/js/jquery.min.js"></script>

<script src="bower_components/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="bower_components/bootstrap-table/dist/bootstrap-table-export.js"></script>
<script src="bower_components/bootstrap-table/dist/tableExport/tableExport.js"></script>


<script type="text/javascript">
        $(document).ready(function(e) {
            $('#table').bootstrapTable({
                    method: 'GET',
                    url: urladdress+'/api/v2/lazymcoop',
                    cache: false,
                    height: 700,
                    striped: true,
                    pagination: true,
                    pageSize: 50,
                    search: true,
                    showRefresh: true,
                    columns: [
                            {field: 'ADDRESS',title: 'ACTION',align: 'center',valign: 'middle',clickToSelect: false,
                                    formatter: operateFormatter,events: operateEvents},
                            {field: 'LOANACCNUMBER',title: 'LOANACCNUMBER',formatter: colorFormatter, visible:true},
                            {field: 'CLIENTNAME',title: 'CLIENTNAME',align: 'left',valign: 'middle',sortable: true}, 
                            {field: 'PHONENUMBER',title: 'PHONENUMBER',align: 'left',valign: 'top',sortable: true},
                            {field: 'LOAN_TYPE',title: 'LOAN_TYPE',align: 'left',valign: 'top',sortable: true},
                            {field: 'IDNUMBER',title: 'IDNUMBER',align: 'left',valign: 'top',sortable: true},
                            {field: 'LOANAMOUNT',title: 'LOANAMOUNT',align: 'left',valign: 'top',sortable: true},
                            {field: 'DATEOPEN',title: 'DATEOPEN',align: 'left',valign: 'top',sortable: true},
                            {field: 'COLOFFICER',title: 'COLOFFICER',align: 'left',valign: 'top',sortable: true},
                            {field: 'ARREARS_CATEGORY',title: 'ARREARS_CATEGORY',align: 'left',valign: 'top',sortable: true},
                            {field: 'REVIEWDATE',title: 'REVIEWDATE',align: 'left',visible:true},
                            {field: 'OVERDUE',title: 'OVERDUE',align: 'left',visible:false}
                            ]
                });
        });
        
        function operateFormatter(value, row, index) {
            return [
                '<a class="edit ml10" href="javascript:void(0)" title="Action">',
                    '<i class="glyphicon glyphicon-new-window"></i>',
                '</a>&nbsp;'
            ].join('');
        }

        function colorFormatter(value, row) {
        // 16777215 == ffffff in decimal
        if(row.OVERDUE>5){
            var color = 'red';
            return '<div  style="color: ' + color + '">' + value + '</div>';
        }else{
            var color = 'black';
            return '<div  style="color: ' + color + '">' + value + '</div>';
        }
            
        }
        
        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
               // console.log(row);
               var accnumber = row.LOANACCNUMBER;
               var custnumber = row.PHONENUMBER;
               
               $("#acc_number").val(row.LOANACCNUMBER);
		       $("#cust_number").val(row.PHONENUMBER);
		       var username = document.getElementById("s_in_username").value;
		       $("#username").val(username);
		         window.open('topnavmcoop.jsp?accnumber='+accnumber+"&custnumber="+ custnumber+"&username="+ username,'_blank');
            },
            'click .remove': function (e, value, row, index) {
                if(!confirm("Are you sure you want to delete this Record?"))
                {
                return false;
                };
                
                $.getJSON('api/deleteuser.php?id='+row.UserID, function(d) 
                {
                    $('#Error').text(d.message);
                    $('#table').bootstrapTable('refresh');
                });        
            }
        };	
    </script>

